[Unit]
Description=APRS iGate Stats Request Listener
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/php /home/pi/stats-listener.php
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
